@media screen and (min-width: 600px) {

    main {
        display: grid;
        grid-template-columns: auto minmax(310px, 410px);
        text-align: start;
    }

    h1 {
        grid-column: 1/3;
    }

    form {
        min-width: 300px;
        max-width: 400px;
        width: auto;
    }
}