.hero img {
    width: 100%;
    height: auto;
}

section li {
    padding: 5px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    margin: 2px;
}

.cards section {
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: 41px 48px auto;
    justify-self: center;
    width: 300px;
}

.cards h3, .cards p {
    background-color: #e4f5dc;
    grid-column: 1/3;
    text-align: center;
}

.cards p {
    border-bottom: var(--border);
    padding: 0 4px;
}

.cards img {
    margin: 5px;
    align-self: center;
}

.cards div p {
    text-align: start;
    padding: 4px;
    border: none;
    background-color: transparent;
}

.cta {
    background-color: #e4f5dc;
    border: var(--border);
    border-radius: 0.5rem;
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 144px;
    width: fit-content;
}

.cta.open {
    animation: 500ms down ease-out;
    top: 270px;
}

@keyframes down {
    from {
        top: 144px;
    }
    to {
        top: 270px;
    }
}

@media screen and (min-width: 443px) {
    
    .cta {
        top: 108px;
    }

    .cta.open {
        animation: 500ms down ease-out;
        top: 234px;
    }

    @keyframes down {
        from {
            top: 108px;
        }
        to {
            top: 234px;
        }
    }
}

@media screen and (min-width: 640px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    h1, .hero, .gridList, #cards, #members {
        grid-column: 1/4;
    }
}