


.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 2px;
}

.cards section {
    display: block;
    background-color: #fff;
    min-width: 290px;
}

.card1 h3, .card1 h2 {
    background-color: #337ca0;
    animation: 4s linear 375ms shimmer 2;
    /* animation: 4s linear 375ms shimmer infinite; */
}

.card2 h3, .card2 h2 {
    background-color: #cd7f32;
    animation: 4s linear 250ms shimmer 2;
    /* animation: 4s linear 250ms shimmer infinite; */
}

.card3 h3, .card3 h2 {
    background-color: #c0c0c0;
    animation: 4s linear 125ms shimmer 2;
    /* animation: 4s linear 125ms shimmer infinite; */
}

.card4 h3, .card4 h2 {
    background-color: #d4af37;
    animation: 4s linear shimmer 2;
    /* animation: 4s linear shimmer infinite; */
}

@keyframes shimmer {
    /* even shorter? longer break? started at 5% went to 2.5% then 1.25%, now to 0.625%? */
    /* .625 1.25 1.875 2.5 3.125 3.75 4.375 5 */
    from {
        background-image: linear-gradient(65deg, #fff0, 0%, #fffa, 5%, #fff0);
    }
    1.25% {
        background-image: linear-gradient(65deg, #fff0, 5%, #fffa, 10%, #fff0);
    }
    2.5% {
        background-image: linear-gradient(65deg, #fff0, 10%, #fffa, 15%, #fff0);
    }
    3.75% {
        background-image: linear-gradient(65deg, #fff0, 15%, #fffa, 20%, #fff0);
    }
    5% {
        background-image: linear-gradient(65deg, #fff0, 20%, #fffa, 25%, #fff0);
    }
    6.25% {
        background-image: linear-gradient(65deg, #fff0, 25%, #fffa, 30%, #fff0);
    }
    7.5% {
        background-image: linear-gradient(65deg, #fff0, 30%, #fffa, 35%, #fff0);
    }
    8.75% {
        background-image: linear-gradient(65deg, #fff0, 35%, #fffa, 40%, #fff0);
    }
    10% {
        background-image: linear-gradient(65deg, #fff0, 40%, #fffa, 45%, #fff0);
    }
    11.25% {
        background-image: linear-gradient(65deg, #fff0, 45%, #fffa, 50%, #fff0);
    }
    12.5% {
        background-image: linear-gradient(65deg, #fff0, 50%, #fffa, 55%, #fff0);
    }
    13.75% {
        background-image: linear-gradient(65deg, #fff0, 55%, #fffa, 60%, #fff0);
    }
    15% {
        background-image: linear-gradient(65deg, #fff0, 60%, #fffa, 65%, #fff0);
    }
    16.25% {
        background-image: linear-gradient(65deg, #fff0, 65%, #fffa, 70%, #fff0);
    }
    17.5% {
        background-image: linear-gradient(65deg, #fff0, 70%, #fffa, 75%, #fff0);
    }
    18.75% {
        background-image: linear-gradient(65deg, #fff0, 75%, #fffa, 80%, #fff0);
    }
    20% {
        background-image: linear-gradient(65deg, #fff0, 80%, #fffa, 85%, #fff0);
    }
    21.25% {
        background-image: linear-gradient(65deg, #fff0, 85%, #fffa, 90%, #fff0);
    }
    22.5% {
        background-image: linear-gradient(65deg, #fff0, 90%, #fffa, 95%, #fff0);
    }
    23.75% {
        background-image: linear-gradient(65deg, #fff0, 95%, #fffa, 100%, #fff0);
    }
    25% {
        background-image: linear-gradient(65deg, #fff0, #fff0);
    }
    to {
        background-image: linear-gradient(65deg, #fff0, #fff0);
    }
}

form, #results {
    background-color: #f5f5dc;
    border: #000 thin solid;
    border-radius: 0.6rem;
    margin: 5px;
}

form {
    min-width: 310px;
    padding: 0 5px 5px;
}

fieldset {
    padding: 5px 2px;
    margin: 5px 0;
    border: #000 thin solid;
    border-radius: 0.5rem;
}

legend {
    background-color: #e4f5dc;
    padding: 3px;
    border: #000 thin solid;
    border-radius: 0.5rem;
}

label {
    display: block;
    margin: 5px;
}

input, select, textarea {
    border: #4d4d4d 2px solid;
    width: 100%;
    padding: 5px;
    appearance: none;
    background-color: #fff;
}

:required {
    border-left: red solid 8px;
}

:required:valid {
    border-left: green solid 8px;
}

input[type="submit"] {
    min-width: 95px;
    min-height: 45px;
    padding: 0;
    border-radius: 0.5rem;
    background-image: radial-gradient(circle, #f00a, #ff0a, #0f0a, #0ffa, #00fa, #f0fa);
}

dialog {
    background-color: #fff;
    border: #4d4d4d 3px solid;
    border-radius: 0.5rem;
    max-width: 600px;
    width: 90%;
    margin: auto;
}

dialog p {
    padding: 10px;
    border-radius: 0;
}

dialog h2 {
    padding: 15px 10px;
    border-radius: 0;
}

::backdrop {
    background-color: #4d4d4dc6;
}

dialog button {
    position: absolute;
    top: 3px;
    right: 3px;
    border: #000 thin solid;
    color: #000;
    border-radius: 0.5rem;
    background-color: #fff5;
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 500px) {

    main {
        display: grid;
        grid-template-columns: minmax(235px, 405px) auto;
        column-gap: 5px;
    }

    h2, #results {
        grid-column: 1/3;
    }

    form {
        max-width: 400px;
        min-width: 230px;
        width: 100%;
        margin-right: 0;
    }
}